.App {
  font-family: sans-serif;
  text-align: center;
}

h1,
h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  font-size: 3rem;
  padding: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: none;
  border-radius: 0.25rem;
  border: 3px solid #084c74;
  background-color: #fff;
  cursor: pointer;
}
